<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="false" debug="false">

	<include resource="logback.inc.xml" />
	
	<logger name="com.mtea" level="DEBUG"/>
	
	<root level="DEBUG">
   		<appender-ref ref="ConsoleOutputAppender" />
		<appender-ref ref="ProjectLogFileAppender" />
	</root>
	
</configuration>